commands:
  01-upgrade-pip:
    command: /opt/python/run/venv/bin/pip install --upgrade pip
    ignoreErrors: false
  02-upgrade-tf:
    command: /opt/python/run/venv/bin/pip install --upgrade https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-1.1.0-cp34-cp34m-linux_x86_64.whl
    ignoreErrors: false